.cart-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

.summary-text h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.summary-text span {
  font-size: 26px;
  font-weight: bold;
}

.checkout-btn {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 12px;
  width: auto;
}

.cart-item {
  display: flex;
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  margin-bottom: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 5px 10px;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  color: var(--color-primary);
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.quantity-control span {
  font-size: 18px;
  font-weight: bold;
}

.cart-total {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}