h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 1.875rem;
  color: var(--color-text-dark);
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-bottom: 0.625rem;
}

h3 {
  font-size: 2.5rem;
  color: var(--color-text-dark);
}

p {
  text-align: center;
  font-size: 1.875rem;
  color: var(--color-text-light);
  margin: 0.625rem auto;
}

li {
  text-align: center;
  list-style: none;
  font-size: 1.875rem;
  margin: 0.625rem;
  color: var(--color-text-light);
}

span {
  font-size: 1.875rem;
  color: var(--color-text-dark);
}

@font-face {
  font-family: "ArFont";
  src: url("/fonts/Arabic_Font.ttf") format("truetype");
}

html[lang="ar"] body {
  font-family: "ArFont", sans-serif;
}

@font-face {
  font-family: "EnFont";
  src: url("/fonts/English_Font.otf") format("truetype");
}

html[lang="en"] body,
html[lang="fr"] body,
html[lang="es"] body,
html[lang="pt"] body,
html[lang="de"] body,
html[lang="hi"] body,
html[lang="zh"] body,
html[lang="jp"] body,
html[lang="ru"] body {
  font-family: "EnFont", sans-serif;
}