.shop {
  padding: 40px 100px 80px;
}

.shop-filter {
  background: white;
  border-radius: 10px;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* ===== Filter & Sort Base ===== */
.filter-left, .filter-right {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff8c42;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.filter-right {gap: 6px;}

.sort-icon {font-size: 14px;}

/* ===== Search ===== */
.filter-search {
  position: relative;
  width: 40%;
}

.filter-search input {
  width: 100%;
  padding: 12px 40px 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

/* ===== Dropdown ===== */
.filter-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.filter-option {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
  text-align: start;
}

.filter-option:hover {
  background: #f5f5f5;
}

.filter-option.active {
  background: #fff6e6;
  font-weight: bold;
}

/* ===== RTL Fixes =====
html[dir="rtl"] .filter-left,
html[dir="rtl"] .filter-right {
  flex-direction: row-reverse;
}

html[dir="rtl"] .filter-dropdown {
  left: auto;
  right: 0;
}

html[dir="rtl"] .filter-option {
  text-align: right;
} */